<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" [class.invalid]="email?.invalid && email?.touched"></ion-input>
    </ion-item>
    <ion-note *ngIf="email?.invalid && email?.touched" color="danger">
      <p *ngIf="email?.errors?.['required']">Email is required</p>
      <p *ngIf="email?.errors?.['email']">Enter a valid email</p>
    </ion-note>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"
        [class.invalid]="password?.invalid && password?.touched"></ion-input>
    </ion-item>
    <ion-note *ngIf="password?.invalid && password?.touched" color="danger">
      <p *ngIf="password?.errors?.['required']">Password is required</p>
      <p *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</p>
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="credentials.invalid">
      Login
    </ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="forgotPw()">
    Forgot Password?
  </ion-button>
</ion-content>