ion-content {
    --background: url('../../../assets/pattern.jpeg') no-repeat;
    --padding-top: 60px;
}

.message-input {
    border: 1px solid #c3c3c3;
    border-radius: 20px;
    background: #fff;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 5%);
    color: #0b4c40;
}

ion-textarea {
    --padding-start: 20px;
    --padding-top: 4px;
    --padding-bottom: 4px;
    min-height: 30px;
}

.message-list {
    padding: 10px;
}

ion-item.current-user ion-label {
    background-color: #7fe2b5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: right;
}

ion-item.other-user ion-label {
    background-color: #d0606a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: left;
}